@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

a {
    color: #fafafa;
    transition: all 0.2s;
}

a:hover {
    opacity: 0.6;
}

a:active {
    opacity: 1;
}
